//.con__black {
//    background-color: $dark;
//}

//.footer-extended {
//    position: relative;
//    left: 0px; width: 100%;
//    padding: 60px 0px;
//    background-color: $dark;
//    color: #FFFFFF;
//    margin-top: 30px;
//
//    a{
//        text-decoration: none; font-family: "Nunito", sans-serif;
//    }
//
//    .footer__con-top {
//        position: relative;
//        left: calc(50% - 600px);
//        width: 1200px;
//        display: flex;
//        align-items: flex-start;
//        justify-content: space-between;
//    }
//
//    .footer__con-left {
//        font-size: 0.875rem;
//
//        img {
//            margin-bottom: 2rem; height: 30px;
//        }
//
//        div {
//            margin-bottom: 1.5rem;
//        }
//    }
//
//    .footer__address a {
//        color: #FFFFFF;
//    }
//
//    .footer__contact p,
//    .footer__address p {
//        font-weight: 700;
//    }
//
//    .footer__address h5,
//    .footer__contact h5 {
//        // letter-spacing: $qLetterSpacing;
//        line-height: 140%;
//        margin-bottom: 0.5rem;
//    }
//
//    .footer__contact a {
//        color: #FFFFFF;
//        display: block;
//        // font-family: InterRegular;
//    }
//
//    .footer__con-right {
//        display: flex;
//        gap: 1.5rem;
//    }
//
//    .footer__list1, .footer__list2, .con__bottom-list{
//        list-style: none;
//    }
//    .footer__list1-item,
//    .footer__list2-item {
//        width: 11rem;
//        margin-bottom: 0.75rem;
//        font-weight: 500;
//    }
//
//    .footer__list1-link,
//    .footer__list2-link {
//        color: #FFFFFF;
//    }
//
//    .footer__socials {
//        display: flex;
//        gap: 0.75rem;
//        align-items: center;
//        img{
//            height: 20px;
//        }
//    }
//
//    .footer__con-bottom {
//        position: relative; left: calc(50% - 600px); width: 1200px;
//        display: flex;
//        align-items: center;
//        justify-content: space-between;
//        padding-top: 2rem;
//        border-top: 3px solid #2f2c2f;
//        border-color: #FFFFFF;
//        margin-top: 3rem;
//        a{
//            color:#FFFFFF;
//        }
//    }
//
//    .con__bottom-list {
//        display: flex;
//        align-items: center;
//        gap: 1.5rem;
//        font-size: 0.875rem;
//        color: #FFFFFF;
//    }
//
//    .con__bottom-link {
//        color: #FFFFFF;
//    }
//}
//@media (max-width: 1440px) {
//    .footer__con-top, .footer__con-bottom {
//        left: 50px;
//        width: calc(100% - 100px);
//    }
//}
//@media (max-width: 1000px) {
//    .footer__con-top, .footer__con-bottom {
//        left: 20px;
//        width: calc(100% - 40px);
//    }
//}
//@media (max-width: 800px) {
//    footer {
//    }
//
//    .footer__con-top,
//    .footer__con-right {
//        flex-direction: column;
//
//    }
//
//    .footer__con-bottom {
//        flex-direction: column-reverse;
//        align-items: flex-start;
//    }
//
//    .con__bottom-list {
//        flex-direction: column;
//        align-items: flex-start;
//        gap: 1rem;
//    }
//
//    .footer__con-bottom > p {
//        margin-top: 2rem;
//    }
//
//    .footer__con-top, .footer__con-bottom{
//
//    }
//
//
//    .footer__con-top, .footer__con-bottom {
//        left: 20px;
//        background:red;
//        width: calc(100% - 40px);
//    }
//
//
//    //.footer__list1-item,
//    //.footer__list2-item {
//    //    width: 100%;
//    //}
//}



.con__black {
    // background-color: $bColor;
}

.footer-wrapper{
    position: relative; left: 0px; top: 0px; width: 100%; margin-top: 64px; background: #03335b;
}
.footer-extended {
    position: relative;
    left: calc(50% - 600px);
    width: 1200px;
    padding: 60px 0px;
    // background-color: $bColor;
    color: #ffffff;


    a{
        text-decoration: none;
    }
    a:hover{color: #ffffff;}

    .footer__list1, .footer__list2, .con__bottom-list{
        list-style: none; padding-left: 0px;
    }
}

.footer__con-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__con-left {
    font-size: 0.875rem;

    img {
        margin-bottom: 2rem; height: 36px;
    }

    div {
        margin-bottom: 1.5rem;
    }
}

.footer__address a {
    color: #FFFFFF;
}

.footer__contact p,
.footer__address p {
    font-weight: 700;
}

.footer__address h5,
.footer__contact h5 {
    // font-family: Quirel;
    // letter-spacing: $qLetterSpacing;
    line-height: 140%;
    margin-bottom: 0.5rem;
}

.footer__contact a {
    color: #FFFFFF;
    display: block;
    // font-family: InterRegular;
}

.footer__con-right {
    display: flex;
    gap: 1.5rem;
}

.footer__list1-item,
.footer__list2-item {
    width: 11rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
}

.footer__list1-link,
.footer__list2-link {
    color: #FFFFFF;
}

.footer__socials {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    img{
        height: auto;
    }
    a{
        color:#FFFFFF;
        i{
            color:#FFFFFF;
        }
    }
}

.footer__con-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    border-top: 3px solid #FFFFFF;
    // border-color: #FFFFFF;
    margin-top: 3rem;
    a{
        color:#FFFFFF;
    }
}

.con__bottom-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.875rem;
    color: #FFFFFF;
}

.con__bottom-link {
    color: #FFFFFF;
}

@media (max-width: 1440px) {
    .footer-extended {
        left: 50px;
        width: calc(100% - 100px);
    }
}

@media (max-width: 1000px) {
    .footer-extended {
        left: 20px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 800px) {
    footer {
    }

    .footer__con-top,
    .footer__con-right {
        flex-direction: column;
    }

    .footer__con-bottom {
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 0px;
        .con__bottom-item{
            width: 100%;
        }
    }

    .con__bottom-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .footer__con-bottom > p {
        margin-top: 2rem;
    }

    .footer__list1-item,
    .footer__list2-item {
        width: 100%;
    }
}
