.preview__wrapper{
    position: relative; width: $d-width; display: flex; gap: 32px; flex-wrap: wrap;

    @media only screen and (max-width: $d-width) {
        width:calc(100% - 100px); gap: 32px;
    }
    @media only screen and (max-width: 1000px) {
        width:calc(100% - 40px); gap: 20px;
    }

    .current__wrapper{
        position: relative; width: 100%; background: #03335b; border-radius: 8px; padding: 32px; gap: 16px; display: flex; flex-wrap: wrap;
        align-items: center;

        @media only screen and (max-width: 1000px) {
            gap: 0px; padding: 20px 0px 0px 0px; background: none;
        }

        // background: rgba(255,255,255,0.5);
        .header{
            position: relative; width: 100%; display: flex; justify-content: space-between; align-items: center;
            @media only screen and (max-width: 1000px) {
                flex-wrap: wrap; justify-content: center; flex-direction: column-reverse; gap: 16px;
            }

            .city__{
                position: relative; display: flex; align-items: center; gap: 4px;
                @media only screen and (max-width: 1000px) {
                    flex-wrap: wrap; gap: 8px;
                }
                h2{
                    @media only screen and (max-width: 1000px) {
                        width: 100%; text-align: center; font-size: 30px;
                        &.current{
                            font-size: 14px; text-transform: uppercase;
                        }
                    }
                    color: #FFFFFF;
                }
                span{
                    @media only screen and (max-width: 1000px) {
                        display: none;
                    }
                    font-size: 24px; color: #FFFFFF;
                }
            }

            p{
                color: #FFFFFF;
            }
        }

        .temperature__wrapper{
            position: relative; width: 100%; display: flex; gap: 16px; flex-wrap: wrap;
            @media only screen and (max-width: 1000px) {
                // flex-wrap: wrap; padding: 32px 0px;
            }
            .temperature__info{
                position: relative; width: 100%;
                @media only screen and (max-width: 1000px) {
                    text-align: center; margin-top: 20px;
                }
                h4{
                    @media only screen and (max-width: 1000px) {
                        font-size: 24px;
                    }
                    color: #FFFFFF; font-size: 20px;
                }
            }

            .temperature__iww{
                position: relative; width: 100%; display: flex; gap: 32px; align-items: flex-start;

                @media only screen and (max-width: 1000px) {
                    flex-wrap: wrap; padding: 20px 0px;
                }

                .info__wrapper{
                    position: relative; display: flex; gap: 16px; width: 50%; flex-wrap: wrap;

                    @media only screen and (max-width: 1000px) {
                        width: 100%;
                    }

                    .main__info__w{
                        position: relative; width: 100%; display: flex; gap: 16px; height: 100px;

                        @media only screen and (max-width: 1000px) {
                            flex-wrap: wrap;  height: auto; flex-direction: column-reverse;
                        }

                        .miw__temp{
                            position: relative; display: flex; gap: 16px; height: 100%;
                            @media only screen and (max-width: 1000px) {
                                height: 100px; justify-content: center;
                            }
                            .img__wrapper{
                                position: relative; height: 100%;
                                img{
                                    position: relative; height: 100%;
                                }
                            }
                            .temp__wrapper{
                                position: relative; display: flex; align-items: center;
                                h1{
                                    font-size: 80px; margin: 0px; padding: 0px; line-height: 1; /* Or 100% */
                                    margin-top: -6px; color: #FFFFFF;
                                }
                            }
                        }
                        .info__inner_wrapper{
                            position: relative; display: flex; align-items: center;
                            @media only screen and (max-width: 1000px) {
                                width: 100%;
                            }
                            .ii_i_w{
                                @media only screen and (max-width: 1000px) {
                                    width: 100%;
                                }
                                h6, p{
                                    @media only screen and (max-width: 1000px) {
                                        text-align: center;
                                    }
                                    width: 100%; color: #FFFFFF;
                                }
                            }
                        }
                    }
                    .text__wrapper{
                        position: relative; width: 100%;
                        @media only screen and (max-width: 1000px) {
                            text-align: center;
                        }
                        p{color: #FFFFFF;}
                    }
                }

                .other__info__wrapper{
                    position: relative; width: 50%; display: flex; flex-grow: 1; flex-direction: column; gap: 8px;
                    padding: 0px; align-items: flex-start;


                    @media only screen and (max-width: 1000px) {
                        background: none; padding: 0px; flex-direction: initial; flex-wrap: wrap;
                    }

                    .oiw__info{
                        position: relative; padding: 4px 16px; border-radius: 3px; margin-left: auto;
                        page-break-after: always;

                        @media only screen and (max-width: 1000px) {
                            margin-left: 0px; width: 100%; text-align: center;
                        }

                        &.yellow-warning{background: #fbed50; p{color:#333;} }
                        &.info-warning{background: #2fc8fe; p{color:#333;} }
                        p{
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }

        .other__info{
            position: relative; width: 100%; display: flex; justify-content: space-between; gap: 32px; align-items: center;

            @media only screen and (max-width: 1000px) {
                flex-wrap: wrap; gap: 20px;
            }

            .other__info__temp{
                display: flex; align-items: center;
                @media only screen and (max-width: 1000px) {
                    width: 100%; justify-content: center; margin-bottom: 20px;
                }
                h5{color: #FFFFFF; font-size: 18px; font-weight: normal; }
            }
            .other__info__inner{
                position: relative; display: flex; justify-content: flex-end; gap: 32px;
                @media only screen and (max-width: 1000px) {
                    flex-wrap: wrap; gap: 20px; display: none;
                }
                .oi_w{
                    position: relative;
                    @media only screen and (max-width: 1000px) {
                        width: calc(50% - 10px); background: $bColor; padding: 20px; border-radius: 8px;
                    }
                    p{
                        color: grey; font-size: 14px;
                    }
                    h5{
                        color: #FFFFFF;
                    }
                }
            }
        }
    }

    /**
     *  Twelve hours forecast
     */
    .twelve__hours__wrapper{
        position: relative; width: 100%; background: #03335b; border-radius: 8px; padding: 32px;
        @media only screen and (max-width: 1000px) {
            padding: 20px;
        }

        .swiper{
            gap: 16px;
            .swiper-wrapper{
                height: auto; margin-bottom: 32px;
                @media only screen and (max-width: 1000px) {
                    margin-bottom: 20px;
                }
                .swiper-slide{
                    height: auto;

                    &:hover{cursor: pointer; background: #0a5189; border-radius: 4px; }

                    .inside-swiper{
                        position: relative; display: flex; flex-direction: column; gap: 16px; padding:16px; justify-content: center; align-items: center;
                        height: 160px;

                        p{ color: #2fc8fe; }
                        img{ height: 40px; }
                        h5{ color: #FFFFFF; }
                    }
                }
            }

            .swiper-pagination {
                position: absolute !important;
                top: unset;
                bottom: 10px !important;
                left: 0;
                width: 100%;
                text-align: center;
                z-index: 10;
            }
        }
    }

    /**
     *  Additional info : Visible only on mobile version
     */

    .mobile__additional_info{
        position: relative; width: 100%; display: none;
        @media only screen and (max-width: 1000px) {
            display: flex; justify-content: space-between; flex-wrap: wrap; gap: 20px;
        }

        .mai_w{
            position: relative;
            @media only screen and (max-width: 1000px) {
                width: calc(50% - 10px); background: $bColor; padding: 20px; border-radius: 8px;
            }
            p{
                color: grey; font-size: 14px;
            }
            h5{
                color: #FFFFFF;
            }
        }
    }

    /**
     *  Five days forecast
     */
    .five__days__wrapper{
        position: relative; width: 100%; display: flex; gap: 32px;

        @media only screen and (max-width: 1000px) {
            flex-wrap: wrap; gap: 20px;
        }

        .five__days__inner_wrapper{
            position: relative; width: calc(100% - 432px); display: flex; gap: 16px; flex-wrap: wrap; background: $bColor; border-radius: 8px; padding: 32px 0px;

            @media only screen and (max-width: 1000px) {
                padding: 20px 0px;
            }

            @media only screen and (max-width: 1000px) {
                width: 100%;
            }

            .inner__header{
                position: relative; width: 100%; display: flex; gap: 16px; align-items: center; padding: 0px 32px;
                @media only screen and (max-width: 1000px) {
                    padding: 0px 20px;
                }
                img{
                    height: 20px;
                }
                h3{color: #FFFFFF; font-weight: normal; }
            }

            .body__data{
                position: relative; width: 100%; display: flex; flex-wrap: wrap; gap: 4px; padding: 0px 16px;
                @media only screen and (max-width: 1000px) {
                    padding: 0px 20px;
                }
                .day__forecast{
                    position: relative; display: flex; justify-content: space-between; width: 100%; padding: 8px 16px; border-radius: 4px;
                    @media only screen and (max-width: 1000px) {
                        padding: 8px 0px;
                    }
                    &:hover{
                        @media only screen and (max-width: 1000px) {
                            background: none;
                        }
                        cursor: pointer; background: #0a5189;
                    }
                    .day__title{
                        position: relative; display: flex; align-items: center; gap: 4px;
                        p{color: #FFFFFF; font-size:18px; }
                        span{
                            @media only screen and (max-width: 1000px) {
                                display: none;
                            }
                            color: grey; font-size: 18px;
                        }
                        .comma{
                            @media only screen and (max-width: 1000px) {
                                display: none;
                            }
                        }
                    }
                    .day__forecast_info{
                        position: relative; display: flex; justify-content: flex-start; gap: 32px; align-items: center;
                        @media only screen and (max-width: 1000px) {
                            gap: 16px;
                        }

                        /* Weather image height */
                        img{
                            height: 24px;
                        }

                        .warning__info{
                            position: relative; display: flex; align-items: center; gap: 8px;
                            .warning__w{
                                position: relative; height: 20px; width: 20px; display: flex; justify-content: center; align-items: center; border-radius:2px;
                                &.yellow-warning{ background: #fbed50; }
                                &.info-warning{ background: $lightBlue; p{color:#FFF;} }
                                p{ color: #333333; }
                            }
                        }
                        .temperature__info{
                            position: relative; display: flex; gap: 8px; align-items: center; width: 100px; justify-content: center;
                            p, span{font-size: 16px; color: #FFFFFF;}
                        }
                        .wind__info{
                            position: relative; display: flex; gap: 8px; align-items: center; width: 85px;
                            @media only screen and (max-width: 1000px) {
                                display: none;
                            }
                            img{
                                height: 16px;
                            }
                            .wind__text{
                                display: flex; flex-direction: column;
                                p, span{
                                    font-size: 10px; color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
            }
        }

        .wind__direction{
            position: relative; width: 400px; height: 100%; background: $bColor; border-radius: 8px; padding: 32px; gap: 16px;
            display: flex; flex-wrap: wrap; align-items: center;

            @media only screen and (max-width: 1000px) {
                width: 100%; height: auto; gap: 64px;
            }

            .wind__direction__header{
                position: relative; width: 100%; display: flex; justify-content: space-between; align-items: center;
                p{color: #FFFFFF;}
                img{height: 20px;}
            }

            .compass__wrapper{
                position: relative; width: 100%; height: calc(100% - 120px); display: flex; justify-content: space-between; gap: 32px;

                @media only screen and (max-width: 1000px) {
                    height: auto;
                }

                .compass__animation_wrapper{
                    position: relative; height: 100%; display: flex; align-items: center;

                    .compass__circle{
                        position: relative; width: 160px; height: 160px; border: 6px solid rgba(255,255,255,0.4); border-radius: 50%;
                        display: flex; align-items: center; justify-content: center;

                        img{
                            height: 60px; 
                        }
                        .position{
                            position: absolute; width: 24px; height: 24px; background: $bColor; display: flex; justify-content: center; align-items: center; color: #FFFFFF;
                            &.north{left: calc(50% - 12px); top: -15px;}
                            &.east{ right: -15px; top: calc(50% - 12px);}
                            &.south{left: calc(50% - 12px); bottom: -15px;}
                            &.west{left: -15px; top: calc(50% - 12px);}
                        }
                    }
                }
                .compass__info_wrapper{
                    position: relative; width: calc(100% - 160px); display: flex; align-items: center;
                    .ciw__inner{
                        position: relative; width: 100%; display: flex; flex-wrap: wrap; gap: 8px;

                        p{ color:#FFFFFF; }

                        .wind__info{
                            position: relative; width: 100%; display: flex; gap: 8px; align-items: center;
                            h3{
                                color: #FFFFFF;
                            }
                            .wind__info__text{
                                position: relative;
                                p{
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .wind__info{
                position: relative; width: 100%; display: flex;
                p{color: #FFFFFF; font-size:14px; }
            }
        }
    }

    /**
     *  Preview specific day, info about:
     *      1. That day
     *      2. Short about current conditions
     *      3. Info about five days (upper scss)
     */
    @import "preview-day";
}
