@import "app/snippets/constants";
@import "app/snippets/width";

html{
    position: relative; width: 100%; height: 100%; padding: 0px; margin: 0px;
    body{
        position: relative; width: 100%; padding: 0px; margin: 0px;
        background-color: #03335b;
        background-image: linear-gradient(29deg, #03335b 0%, #0a5189 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;

        .public-content{
            position: relative; width: 100%; display: flex; justify-content: center; flex-wrap: wrap; gap: 64px;
            // padding: 32px 0px;

            h1,h2,h3,h4,h5,h6,p,a,span{margin: 0px; padding: 0px;}

            @import "app/layout/menu";

            /**
             *  Pages imports
             */
            @import "app/home/home";
            @import "app/forecast/preview";
            //.main__wrapper{
            //    position: relative; width: $d-width; min-height: 300px; display: flex; flex-wrap: wrap; gap: 32px;
            //
            //    @import "app/home/home";
            //}
        }

        @import "app/layout/footer";
    }
}

// Rain effect CSS - https://codepen.io/arickle/pen/XKjMZY
