/* Default desktop width */
$d-width: 1240px;

/* Main background color */
$bColor: #03335b;
$skyBlue: #0a5189;
$lightBlue: #2fc8fe;

.transition-02{ transition: 0.2s all; &:hover{transition: 0.2s all;} }
.transition-03{ transition: 0.3s all; &:hover{transition: 0.3s all;} }
.transition-04{ transition: 0.4s all; &:hover{transition: 0.4s all;} }
.transition-05{ transition: 0.5s all; &:hover{transition: 0.5s all;} }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
